<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta Tags -->
	<meta charset="UTF-8">
	<meta name="author" content="Kamran Mubarik">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Title -->
	<title>E-Commerce Online Shop</title>
	<!-- Style Sheet -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
	<!-- Javascript -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
</head>

<body>

	<header>
		<div class="container">
			<div class="brand">
				<div class="logo">
					<a href="index.html">
						<img src="{{ url_for('static', filename='img/icons/online_shopping.png') }}">
						<div class="logo-text">
							<p class="big-logo">Ecommerce</p>
							<p class="small-logo">online shop</p>
						</div>
					</a>
				</div> <!-- logo -->
				<div class="shop-icon">
					<div class="dropdown">
						<img src="{{ url_for('static', filename='img/icons/account.png') }}">
						<div class="dropdown-menu">
							<ul>
								<li><a href="account.html">My Account</a></li>
								<li><a href="orders.html">My Orders</a></li>
							</ul>
						</div>
					</div>
					<div class="dropdown">
						<img src="{{ url_for('static', filename='img/icons/heart.png') }}">
						<div class="dropdown-menu wishlist-item">
							<table border="1">
								<thead>
									<tr>
										<th>Image</th>
										<th>Product Name</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><img src="{{ url_for('static', filename='img/product/img1.png') }}"></td>
										<td>product name</td>
									</tr>
									<tr>
										<td><img src="img/product/img2.jpg"></td>
										<td>product name</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="dropdown">
						<img src="{{ url_for('static', filename='img/icons/shopping_cart.png') }}">
						<div class="dropdown-menu cart-item">
							<table border="1">
								<thead>
									<tr>
										<th>Image</th>
										<th>Product Name</th>
										<th class="center">Price</th>
										<th class="center">Qty.</th>
										<th class="center">Amount</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><img src="img/product/img1.jpg"></td>
										<td>product name</td>
										<td class="center">1200</td>
										<td class="center">2</td>
										<td class="center">2400</td>
									</tr>
									<tr>
										<td><img src="img/product/img2.jpg"></td>
										<td>product name</td>
										<td class="center">1500</td>
										<td class="center">2</td>
										<td class="center">3000</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div> <!-- shop icons -->
			</div> <!-- brand -->

			<div class="menu-bar">
				<div class="menu">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="shop.html">Shop</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="search-bar">
					<form>
						<div class="form-group">
							<input type="text" class="form-control" name="search" placeholder="Search">
							<img src="img/icons/search.png">
						</div>
					</form>
				</div>
			</div> <!-- menu -->
		</div> <!-- container -->
	</header> <!-- header -->

	<div class="container">
		<main>
			<div class="breadcrumb">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li> / </li>
					<li>Account</li>
				</ul>
			</div> <!-- End of Breadcrumb-->

			<div class="account-page">
				<div class="profile">
					<div class="profile-img">
						<img src="{{ url_for('static', filename='img/product/img5.jpg') }}">
						<h2>John Doe</h2>
						<p>john_doe@mail.com</p>
					</div>
					<ul>
						<li><a href="account.html">Account <span>></span></a></li>
						<li><a href="orders.html">My Orders <span>></span></a></li>
						<li><a href="change-password.html">Change Password <span>></span></a></li>
						<li><a href="">Logout <span>></span></a></li>
					</ul>
				</div>
				<div class="account-detail">
					<h2>Add Product</h2>
					<div class="billing-detail">
						<form class="checkout-form" method="POST" action="{{ url_for('addProductHandler') }}" enctype="multipart/form-data">
							<div class="form-inline">
								<div class="form-group">
									<label>Product Name</label>
									<input type="text" id="fname" name="productName" required>
								</div>
								<div class="form-group">
									<label>Price (INR)</label>
									<input type="text" id="lname" name="productPrice" required>
								</div>
							</div>
							<div class="form-group">

							</div>
							<div class="form-inline">
								<div class="form-group">
									<label>Category</label>
									<select id="country" name="productCategory">
										<option selected>---Select a Category---</option>
                                        <option value="Food">Games</option>
									</select>
								</div>
								<div class="form-group">
									<div mb-3>
										<label for="formFileLg" class="form-label">Upload photo of product</label>
										<input class="form-control form-control-lg" id="formFileLg" type="file" name="productImage">
									</div>
								</div>
							</div>
							<div class="form-inline">
								<div class="form-group">
									<label>Enter Quantity</label>
									<input type="text" id="fname" name="productQuantity">
								</div>
								<div class="form-group">
									<div mb-3>
										<label for="formFileLg" class="form-label">Upload zip for different
											views</label>
										<input class="form-control form-control-lg" id="formFileLg" type="file" name="productZip">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>Description</label>
								<textarea style="resize:none" id="productDescription" name="productDescription" rows="3"></textarea>
							</div>
							<!-- <div class="form-inline">					
								<div class="form-group">
									<label>Tel</label>
									<input type="text" id="tel" name="tel" minlength="11" maxlength="11" value="555-XXXXXXX">
								</div>
								<div class="form-group">
									<label>Mobile</label>
									<input type="text" id="mobile" name="mobile" minlength="11" maxlength="11" value="555-XXXXXXX">
								</div>
							</div> -->
							<div class="form-group">
								<label></label>
								<input type="submit" id="update" name="update" value="Add Product">
							</div>
						</form>
					</div>
				</div>
			</div>
		</main> <!-- Main Area -->
	</div>

	<footer>
		<div class="container">
			<div class="footer-widget">
				<div class="widget">
					<div class="widget-heading">
						<h3>Important Link</h3>
					</div>
					<div class="widget-content">
						<ul>
							<li><a href="about.html">About</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li><a href="refund.html">Refund Policy</a></li>
							<li><a href="terms.html">Terms & Conditions</a></li>
						</ul>
					</div>
				</div>
				<div class="widget">
					<div class="widget-heading">
						<h3>Information</h3>
					</div>
					<div class="widget-content">
						<ul>
							<li><a href="account.html">My Account</a></li>
							<li><a href="orders.html">My Orders</a></li>
							<li><a href="cart.html">Cart</a></li>
							<li><a href="checkout.html">Checkout</a></li>
						</ul>
					</div>
				</div>
				<div class="widget">
					<div class="widget-heading">
						<h3>Follow us</h3>
					</div>
					<div class="widget-content">
						<div class="follow">
							<ul>
								<li><a href="#"><img src="{{ url_for('static', filename='img/icons/facebook.png') }}"></a></li>
								<li><a href="#"><img src="{{ url_for('static', filename='img/icons/twitter.png') }}"></a></li>
								<li><a href="#"><img src="{{ url_for('static', filename='img/icons/instagram.png') }}"></a></li>
							</ul>
						</div>
					</div>
					<div class="widget-heading">
						<h3>Subscribe for Newsletter</h3>
					</div>
					<div class="widget-content">
						<div class="subscribe">
							<form>
								<div class="form-group">
									<input type="text" class="form-control" name="subscribe" placeholder="Email">
									<img src="{{ url_for('static', filename='img/icons/paper_plane.png') }}">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div> <!-- Footer Widget -->
			<div class="footer-bar">
				<div class="copyright-text">
					<p>Copyright 2021 - All Rights Reserved</p>
				</div>
				<div class="payment-mode">
					<img src="img/icons/paper_money.png">
					<img src="img/icons/visa.png">
					<img src="img/icons/mastercard.png">
				</div>
			</div> <!-- Footer Bar -->
		</div>
	</footer> <!-- Footer Area -->

</body>

</html>