<div class="menu-bar">
    <div class="menu">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>
    <div class="search-bar">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" name="search" placeholder="Search">
                <img src="{{ url_for('static', filename='img/icons/search.png') }}">
            </div>
        </form>
    </div>
</div> <!-- menu -->